<Tabs
  [page]="3"
  [useOnPan]="true"
  [swipeable]="true"
  [activeTab]="index"
  [tabBarActiveTextColor]="'#1890ff'"
  (onChange)="onChange($event)"
  (onTabClick)="onTabClick($event)"
>
  <TabPane [title]="titleTemplate">
    <ng-template #titleTemplate>
      <Badge>
        <div>飞行时间计算</div>
      </Badge>
    </ng-template>
    <div class="container">
      <Card *ngFor="let item of configList">
        <CardHeader [title]="item.label" [extra]="extra">
          <ng-template #extra>
            <span *ngIf="item.hour > 0"
              >{{ item.hour }}小时 {{ item.min }}分钟</span
            >
            <span *ngIf="item.hour === 0"
              >{{ item.select ? item.mins[0] : item.min }}分钟</span
            >
          </ng-template></CardHeader
        >
        <CardBody>
          <div class="card-content">
            <List *ngIf="item.select">
              <ListItem
                Picker
                [arrow]="'horizontal'"
                [data]="[5, 15]"
                [(ngModel)]="item.mins"
                (ngModelChange)="calculationDuration()"
              >
                {{ item.mins[0] }}
              </ListItem>
            </List>
            <div *ngIf="!item.select" class="item">
              小时：<Stepper
                [min]="0"
                [showNumber]="true"
                [(ngModel)]="item.hour"
                (ngModelChange)="calculationDuration()"
              ></Stepper>
            </div>
            <div *ngIf="!item.select" class="item">
              分钟：<Stepper
                [min]="0"
                [max]="59"
                [showNumber]="true"
                [(ngModel)]="item.min"
                (ngModelChange)="calculationDuration()"
              ></Stepper>
            </div>
          </div>
        </CardBody>
      </Card>

      <List [renderHeader]="'计算结果'">
        <ListItem multipleLine *ngIf="remainingDuration >= 0">
          <span style="color: green">可继续执行航班</span>
          <Brief
            >剩余时长：{{ remainingDuration | pure : handleDuration }}</Brief
          >
        </ListItem>
        <ListItem multipleLine *ngIf="remainingDuration < 0">
          <span style="color: red">无法继续执行航班</span>
          <Brief
            >超出时长：{{ remainingDuration | pure : handleDuration }}</Brief
          >
        </ListItem>
      </List>
    </div>
  </TabPane>
  <TabPane [title]="titleTemplate1">
    <ng-template #titleTemplate1>
      <Badge>
        <div>最晚起飞时刻</div>
      </Badge>
    </ng-template>
    <div class="container">
      <List [className]="'date-picker-list'">
        <ListItem
          DatePicker
          [extra]="currentDateFormat(dateValue)"
          [arrow]="'horizontal'"
          [mode]="'time'"
          [(ngModel)]="dateValue"
          (onOk)="onOk($event)"
        >
          预计推出时间
          <Brief>{{ name }}</Brief>
        </ListItem>
      </List>
      <Card *ngFor="let item of configList">
        <CardHeader [title]="item.label" [extra]="extra">
          <ng-template #extra>
            <span *ngIf="item.hour > 0"
              >{{ item.hour }}小时 {{ item.min }}分钟</span
            >
            <span *ngIf="item.hour === 0"
              >{{ item.select ? item.mins[0] : item.min }}分钟</span
            >
          </ng-template></CardHeader
        >
        <CardBody>
          <div class="card-content">
            <List *ngIf="item.select">
              <ListItem
                Picker
                [arrow]="'horizontal'"
                [data]="[5, 15]"
                [(ngModel)]="item.mins"
                (ngModelChange)="calculationDuration()"
              >
                {{ item.mins[0] }}
              </ListItem>
            </List>
            <div *ngIf="!item.select" class="item">
              小时：<Stepper
                [min]="0"
                [showNumber]="true"
                [(ngModel)]="item.hour"
                (ngModelChange)="calculationDuration()"
              ></Stepper>
            </div>
            <div *ngIf="!item.select" class="item">
              分钟：<Stepper
                [min]="0"
                [max]="59"
                [showNumber]="true"
                [(ngModel)]="item.min"
                (ngModelChange)="calculationDuration()"
              ></Stepper>
            </div>
          </div>
        </CardBody>
      </Card>
      <List [renderHeader]="'计算结果'">
        <ListItem multipleLine *ngIf="remainingDuration >= 0">
          <span>最晚起飞时刻：{{ currentDateFormat(latestDepartureTime)}}</span>
        </ListItem>
        <ListItem multipleLine *ngIf="remainingDuration < 0">
          <span style="color: red">无法继续执行航班</span>
          <Brief
            >超出时长：{{ remainingDuration | pure : handleDuration }}</Brief
          >
        </ListItem>
      </List>
    </div>
  </TabPane>
</Tabs>
